.dashboard-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.single-dashboard {
  width: 570px;
  height: 300px;
  background-color: rgba(231, 250, 250, 0.7);
  margin: 15px;
  border: 2px solid lightgray;
  box-shadow: 0px 0px 10px lightblue;
  border-radius: 5px;
}
