.ds-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.ds-status-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-top: 40px;
}
.p-ds-status-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.ds-status {
  width: 90px;
  height: 60px;
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.ds-status-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
